          // Cuprum fonts 

@font-face{
	font-family: "Cuprum";
	src:url("../fonts/Cuprum-Regular.woff2") format("woff2"),
	url("../fonts/Cuprum-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "Cuprum";
	src:url("../fonts/Cuprum-Italic.woff2") format("woff2"),
	url("../fonts/Cuprum-Italic.woff") format("woff");
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: "Cuprum";
	src:url("../fonts/Cuprum-Bold.woff2") format("woff2"),
	url("../fonts/Cuprum-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "Cuprum";
	src:url("../fonts/Cuprum-BoldItalic.woff2") format("woff2"),
	url("../fonts/Cuprum-BoldItalic.woff") format("woff"); 
	font-weight: 700;
	font-style: italic;
}

       // PT Sans fonts

@font-face{
	font-family: "PT Sans";
	src:url("../fonts/PTSans-Regular.woff2") format("woff2"),
	url("../fonts/PTSans-Regular.woff") format("woff"); 
	font-weight: 400;
	font-style: normal;
}

@font-face{
	font-family: "PT Sans";
	src:url("../fonts/PTSans-Italic.woff2") format("woff2"),
	url("../fonts/PTSans-Italic.woff") format("woff"); 
	font-weight: 400;
	font-style: italic;
}

@font-face{
	font-family: "PT Sans";
	src:url("../fonts/PTSans-Bold.woff2") format("woff2"),
	url("../fonts/PTSans-Bold.woff") format("woff"); 
	font-weight: 700;
	font-style: normal;
}

@font-face{
	font-family: "PT Sans";
	src:url("../fonts/PTSans-BoldItalic.woff2") format("woff2"),
	url("../fonts/PTSans-BoldItalic.woff") format("woff"); 
	font-weight: 700;
	font-style: italic;
}