.contacts{
  width: 300px;
}

.contacts__heading{
  @include section-title;
  margin-bottom: 33px;
}

.contacts__text{
  width: 190px;
  margin-bottom: 31px;
}

.contacts__map-link{
  display: block;
  margin-bottom: 40px;
}

.contacts__map{
  vertical-align: middle;
}