.promos{
  padding-top: 59px;
  margin-bottom: 33px;
  font-family: $font-stack-accent;
}

.promos__container{
  display: flex;
  justify-content: space-between;
}

.promos__left{
  flex-shrink: 0;
  width: 620px;
}
.promos__right{
  flex-shrink: 0;
  width: 300px;
}

.promos__list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @include reset-list;
}
.promos__item{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  height: 123px;
  padding: 21px 24px 22px;
  margin-bottom: 20px;
  overflow: hidden;
  background-repeat: no-repeat;

  &--material{
    background-color: #ffbf47;
    background-image: url("../img/icon-1.svg");
    background-position: 213px 31px;
  }
  
  &--instrument{
    background-color: #3bbce3;
    background-image: url("../img/icon-2.svg");
    background-position: 197px 33px;
  }
  
  &--tech{
    background-color: #dc91d8;
    background-image: url("../img/icon-3.svg");
    background-position: 191px 31px;
  }

  &--sale{
    background-color: #8ed78f;
    background-image: url("../img/icon-4.svg");
    background-position: 196px 26px;
  }

  &--delivery{
    background-color: #ffc047;
    background-image: url("../img/icon-5.svg");
    background-position: 191px 32px;
  }

  &--new{
      &::after{
        @include new-element-after;
      }
  }
}

.promos__title{
  margin-top: 0;
  margin-bottom: 12px;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promos__link{
  display: block;
  width: 135px;
  padding: 10px 0;
  border-radius: 2px;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;

  &:hover,
  &:focus{
    background-color: rgba(0, 0, 0, 0.2);
  }

  &:active{
    background-color: rgba(0, 0, 0, 0.3);
  }
}