.search-form{
	position: relative;
}

.search-form__input{
	width: 270px;
	border: none;
	padding: 12px 15px 12px 49px;
	background-color: transparent;

	@include placeholder-color($color: #ffffff);

	&:hover{
		background-color: #212a3a;
	}

	&:focus{
		background-color: #ffffff;
		@include placeholder-color($color: #000000);
	}
}

.search-form__icon{
	position: absolute;
	top: 12px;
	left: 17px;
	opacity: 0.3;
}
.search-form .search-form__icon{
	opacity: 1 ;
}
.search-form__input:focus + .search-form__icon .search-form__path{
	fill: #ee3643;
}