.site-header{
	padding-bottom: 60px;
	background-color: #f4f7f9;
	font-family: $font-stack-accent;
}
.site-header__container{
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
}
.site-header__top{
	background-color: #293449;
	font-size: 17px;
	line-height: 20px;
}

.site-header__middle{
	display: flex;
	align-items: flex-start;
	padding-top: 46px;
	padding-bottom: 24px;
}

.site-header__lead{
	flex-shrink: 0;
	width: 196px;
	margin-left: 53px;
	margin-top: 3px;
	font-size: 16px;
	line-height: 23px;
	color: #ee3643;
}

.site-header__contacts{
	flex-shrink: 0;
	width: 270px;
	margin-left: 71px;
	margin-right: 65px;
	text-align: center;
}
.site-header__phone{
	display: block;
	padding-top: 10px;
	padding-bottom: 8px;
	padding-left: 21px;
	margin-bottom: 5px;
	border: 3px solid #ffffff;
	font-size: 21px;
	line-height: 21px;
	color: #ee3643;
	background: url("../img/icon-phone.svg") no-repeat 15px center;
	text-decoration: none;
}
.site-header__address{
	font-style: normal;
	font-size: 14px;
	line-height: 24px;
	color: #32425c;
}