.slide{
  padding: 22px 25px;
  color: #ffffff;
}

.slide__title{
  margin-top: 0;
  margin-bottom: 3px;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slide__text{
  margin-top: 0;
  font-size: 18px;
  line-height: 24px;
}

.slide__button{
  margin-top: auto;
}