.user-links{
  display: flex;
  flex-wrap: wrap;
  padding-left: 17px;
  @include reset-list;
}

.user-links__item{
  position: relative;
  margin-right: 32px;
  //margin-top: 7px;

  &::before{
    position: absolute;
    top: 50%;
    left: -18px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    margin-top: -2px;
    background-color: #32425c;
    content: "";
  }

  &:first-child::before{
    display: none;
  }
}

.user-links__link{
  display: block;
  border-bottom: 1px solid#32425c;
  font-size: 16px;
  line-height: 14px;
  color: #32425c;
  text-decoration: none;

  &:hover,
  &:focus{
    color: #ee3643;
    border-bottom-color: #ee3643;
  }

  &:active{
    color:  rgba(50, 66, 92, 0.3);
    border-bottom-color: rgba(50, 66, 92, 0.3);
  }
}